name: 'Package Publish'

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches: [main]

jobs:
  release-it:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Yarn Install
        run: yarn install
      - name: Release Package
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
