name: 'Package Publish'

permissions:
  id-token: write
  contents: write
  pull-requests: write

on:
  push:
    branches: [main]

jobs:
  release-it:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Setup Runner Identity
        run: |
          git config --global user.email "gha-release-bot@jannis-schreiber.me"
          git config --global user.name "Release Bot"
      - name: Yarn Install
        run: yarn install
      - name: Release Package and Update Docs
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
